<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="index.html">Trang chủ</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                <button class="btn btn-outline-success me-2" type="submit" style="white-space: nowrap">Tìm kiếm</button>
            </form>
            <div th:unless="${#authorization.expression('hasRole(''USER'')')}">
                <a  class="btn btn-primary" th:href="@{/login}" role="button">
                    Đăng nhập
                </a>
            </div>
            <div sec:authorize="isAuthenticated()" class="nav-item dropdown me-4">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Xin chào, <span sec:authentication="principal.username"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Thông báo</a></li>
                    <li><a class="dropdown-item" th:href="@{/profile}">Quản lý tài khoản</a></li>
                    <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><form class="dropdown-item" action="#" th:action="@{/logout}" method="POST">
                            <input type="submit" class="btn" value="Đăng xuất"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>