<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin tài khoản</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet'>
    <link th:href="@{/css/my_css.css}" rel="stylesheet" />
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="panel border bg-white">
                <div class="panel-heading">
                    <h3 class="pt-3 font-weight-bold">Thông tin cá nhân</h3>
                </div>
                <div class="panel-body p-3">
                    <form action="#" th:action="@{/profile/save}" th:object="${account}" method="POST">
                        <div class="form-group py-2">
                            <p>Tên đăng nhập:</p>
                            <div class="input-field"> </span> <input type="text" name="tenDangNhap" th:field="*{tenDangNhap}" readonly> </div>
                        </div>
                        <div class="form-group py-1 pb-2">
                            <p>Họ và tên:</p>
                            <div class="input-field"> <input type="text" placeholder="Họ và tên" name="hovaten" th:field="*{hoVaTen}" >  </div>
                        </div>
                        <div class="form-group py-1 pb-2">
                            <p>Email:</p>
                            <div class="input-field"> <input type="text" name="email" th:field="*{email}">  </div>
                            <div th:if="${#fields.hasErrors('email')}">
                                <ul style="list-style-type:none">
                                    <li th:each="error: ${#fields.errors('email')}" th:text="${error}"></li>
                                </ul>
                            </div>
                        </div>
                        <button type="submit" id="submit" class="btn btn-primary btn-block mt-3" th:onclick="${thongbao}">Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>