<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Bạn đã đăng ký thành công với tên đăng nhập <span th:text="${session.account.getTenDangNhap()}"></span></h1>
        <h2>Vui lòng <a th:href="@{/login}">đăng nhập</a> để tiếp tục</h2>
    </div>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>