<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
<nav th:replace="~{navbar :: copy}"></nav>
<main class="container">
    <form th:action="@{/book/save}" th:object="${book}" method="post">
        <input type="hidden" name="id" th:field="*{id} ">
        <div class="form-group mb-2">
            <div>Tên sách:</div>
            <span class="input-field mt-0"> <input type="text" placeholder="Tên sách" name="tenSach" th:field="*{tenSach}"> </span>
        </div>
        <div class="form-group mb-2">
            <div>Năm xuất bản:</div>
            <span class="input-field"> <input type="text" placeholder="Năm xuất bản" name="namxuatban" th:field="*{namXuatBan}" >  </span>
        </div>
        <div class="form-group mb-2">
            <div>Tác giả:</div>
            <select class="form-select" th:each="author : ${authors}">
                <option><span th:text="${author}"></span></option>
            </select>
        </div>
        <div class="form-group mb-2">
            <div>Thể loại:</div>
            <select class="form-select" th:each="genre : ${genres}">
                <option th:text="${genre}" ></option>
            </select>
        </div>
        <div class="form-group mb-2">
            <div>Tên sách:</div>
            <div class="input-field"> <input type="file" accept=".jpg, .png" name="hinhAnh" th:field="*{hinhAnh}"> </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Cập nhật</button>
    </form>
</main>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>