<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Trang chủ</title>
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <style>
        .container {
            display: grid;
            grid-template-columns: 35% 65%;
            grid-template-rows: 100px 100px;
        }
    </style>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<main>
    <div class="container mt-4">
        <img class="mr-3 ml-5" th:src="@{${book.HinhAnhPath}}" width="200px"  alt="Generic placeholder image">
        <div>
            <h2 class="mt-0" th:text="${book.getTenSach()}"></h2>
            <div class="media mt-3">
                <p><b>Tác giả: </b><span th:text="${book.getAuthor()}">Tác giả</span></p>
                <p><b>Năm xuất bản: </b><span th:text="${book.getNamXuatBan()}">Năm xuất bản</span></p>
                <p><b>Thể loại: </b><span th:text="${book.getGenre()}">Thể loại</span></p>
                <hr>
                <b>Tóm tắt sách:</b>
                <p>
                    <span th:text="${book.getTomTat()}">Tóm tắt</span>
                </p>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>